## Fire up GraphLab Create

In [1]:
import graphlab

# Load tabular data set

In [4]:
sf = graphlab.SFrame('testfile.csv')

Finished parsing file /home/npatel/PHYSICS/Projects_2016/7.Coursera/MachingLearning_UofWashington/course1/Week1/testfile.csv

Parsing completed. Parsed 7 lines in 0.01267 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /home/npatel/PHYSICS/Projects_2016/7.Coursera/MachingLearning_UofWashington/course1/Week1/testfile.csv

Parsing completed. Parsed 7 lines in 0.01128 secs.

## SFrame basics

In [5]:
sf # we can view first few lines of the table

Columns:
	First Name	str
	Last Name	str
	Country	str
	Age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | Age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  William  |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [6]:
sf.head()

Columns:
	First Name	str
	Last Name	str
	Country	str
	Age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | Age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  William  |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [7]:
sf.tail()

Columns:
	First Name	str
	Last Name	str
	Country	str
	Age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | Age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  William  |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

## GraphLab Canvas

In [9]:
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:42100/index.html
Opening Canvas in default web browser.

In [10]:
graphlab.canvas.set_target('ipynb')

In [13]:
sf['Age'].show(view="Categorical")

## Inspect columns of dataset

In [14]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [15]:
sf["Age"]

dtype: int
Rows: 7
[24, 23, 22, 23, 23, 22, 25]

In [16]:
sf['Age'].mean()

23.142857142857146

In [17]:
sf['Age'].max()

25

## Create new columns in our SFrame

In [18]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	Age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | Age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  William  |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [19]:
sf['First Name'] = sf['First Name'] + " " + sf["Last Name"]

In [20]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	Age	int

Rows: 7

Data:
+---------------+-----------+---------------+-----+
|   First Name  | Last Name |    Country    | Age |
+---------------+-----------+---------------+-----+
|   Bob Smith   |   Smith   | United States |  24 |
| Alice William |  William  |     Canada    |  23 |
|  Malcolm Jone |    Jone   |    England    |  22 |
|  Felix Brown  |   Brown   |      USA      |  23 |
|  Alex Cooper  |   Cooper  |     Poland    |  23 |
|  Tod Campbell |  Campbell | United States |  22 |
|   Derek Ward  |    Ward   |  Switzerland  |  25 |
+---------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [21]:
sf["Age"]*sf["Age"]

dtype: int
Rows: 7
[576, 529, 484, 529, 529, 484, 625]

## Inspect columns of dataset

In [22]:
sf["Country"]

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [23]:
sf["Age"]

dtype: int
Rows: 7
[24, 23, 22, 23, 23, 22, 25]

# Advanced Data Transformations of Data - Use apply function

In [24]:
sf["Country"]

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [25]:
sf["Country"].show()

* Notice USA has one count and United States has 2 counts - this is not good!

In [28]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [29]:
transform_country('Brazil')

'Brazil'

In [30]:
transform_country("USA")

'United States'

In [31]:
sf['Country'].apply(transform_country)

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [33]:
sf['Country'] = sf['Country'].apply(transform_country)

In [34]:
sf['Country'].show()

* Now, the count of United States are properly done! :)